<main>

  <mat-form-field appearance="outline">
    <mat-label></mat-label>
    <mat-select [formControl]="eventsSwitcher">
      <mat-option value="additions">Added Tasks</mat-option>
      <mat-option value="updates">Updated Tasks</mat-option>
      <mat-option value="deletions">Deleted Tasks</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="visibleEvents$ | async as visibleEvents">

    <mat-accordion *ngIf="visibleEvents === 'additions'">
      <mat-expansion-panel *ngFor="let addition of (additions$ | async)">
        <mat-expansion-panel-header>
          {{addition.taskDto.title}}
        </mat-expansion-panel-header>

        <p>{{addition.taskDto.details}}</p>

        <mat-action-row>
          <button mat-button color="warn">Remove</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="visibleEvents === 'deletions'">
      <mat-expansion-panel *ngFor="let deletion of (deletions$ | async)">
        <mat-expansion-panel-header>
          {{deletion.taskDto.title}}
        </mat-expansion-panel-header>

        <p>{{deletion.taskDto.details}}</p>

        <mat-action-row>
          <button mat-button>Restore</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

</main>