<main>

  <header>
    <h2>Session Events</h2>
  </header>

  <mat-form-field appearance="outline">
    <mat-label></mat-label>
    <mat-select [formControl]="eventsSwitcher">
      <mat-option value="added">Added Tasks</mat-option>
      <mat-option value="removed">Deleted Tasks</mat-option>
      <mat-option value="edited">Edited Tasks</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="visibleEvents$ | async as visibleEvents">

    <!-- Add Events -->

    <mat-accordion *ngIf="visibleEvents === 'added'">
      <ng-container *ngIf="additions$ | async as additions">
        <aside class="no-results" *ngIf="!additions.length">
          No tasks were added so far.
        </aside>
        <mat-expansion-panel *ngFor="let event of additions">
          <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
            <header class="event-header">
              <span class="event-header-time">{{timeAgo(event)}} ago</span> <span
                class="event-header-title">{{event.taskDto.title}}</span>
            </header>
          </mat-expansion-panel-header>

          <p class="event-task-details">{{event.taskDto.details}}</p>
          <section class="event-task-date">
            <time class="event-task-date-item">
              <mat-icon>event_note</mat-icon>{{event.taskDto.date | date}}
            </time>
            <time *ngIf="event.taskDto.duration" class="event-task-date-item">
              <mat-icon>schedule</mat-icon>{{event.taskDto.duration}}
            </time>
            <aside *ngIf="event.taskDto.complete" class="event-task-date-item">
              <mat-icon>done</mat-icon>
            </aside>
          </section>

          <mat-action-row>
            <button mat-button color="warn" (click)="delete(event.taskDto.id)">Remove</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <!-- Delete Events -->

    <mat-accordion *ngIf="visibleEvents === 'removed'">
      <ng-container *ngIf="deletions$ | async as deletions">
        <aside class="no-results" *ngIf="!deletions.length">
          No tasks were removed so far.
        </aside>
        <mat-expansion-panel *ngFor="let event of deletions">
          <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
            <header class="event-header">
              <span class="event-header-time">{{timeAgo(event)}} ago</span> <span
                class="event-header-title">{{event.taskDto.title}}</span>
            </header>
          </mat-expansion-panel-header>

          <p class="event-task-details">{{event.taskDto.details}}</p>
          <section class="event-task-date">
            <time class="event-task-date-item">
              <mat-icon>event_note</mat-icon>{{event.taskDto.date | date}}
            </time>
            <time *ngIf="event.taskDto.duration" class="event-task-date-item">
              <mat-icon>schedule</mat-icon>{{event.taskDto.duration}}
            </time>
            <aside *ngIf="event.taskDto.complete" class="event-task-date-item">
              <mat-icon>done</mat-icon>
            </aside>
          </section>

          <mat-action-row>
            <button mat-button color="primary">Restore</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <!-- Edit Events -->

    <mat-accordion *ngIf="visibleEvents === 'edited'">
      <ng-container *ngIf="edits$ | async as edits">
        <aside class="no-results" *ngIf="!edits.length">
          No tasks were edited so far.
        </aside>
        <mat-expansion-panel *ngFor="let event of edits">
          <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
            <header class="event-header">
              <span class="event-header-time">{{timeAgo(event)}} ago</span> <span
                class="event-header-title">{{event.taskDto.title}}</span>
            </header>
          </mat-expansion-panel-header>

          <div class="original-details">
            <p class="event-task-details line-through">{{event.originalDto.title}}</p>
            <p class="event-task-details line-through">{{event.originalDto.details}}</p>
            <section class="event-task-date">
              <time class="event-task-date-item">
                <mat-icon>event_note</mat-icon><span class="line-through">{{event.originalDto.date | date}}</span>
              </time>
              <time *ngIf="event.originalDto.duration" class="event-task-date-item">
                <mat-icon>schedule</mat-icon><span class="line-through">{{event.originalDto.duration}}</span>
              </time>
              <aside *ngIf="event.originalDto.complete" class="event-task-date-item">
                <mat-icon>done</mat-icon>
              </aside>
            </section>
          </div>

          <mat-divider></mat-divider>

          <div class="edited-details">
            <p class="event-task-details">{{event.taskDto.title}}</p>
            <p class="event-task-details">{{event.taskDto.details}}</p>
            <section class="event-task-date">
              <time class="event-task-date-item">
                <mat-icon>event_note</mat-icon>{{event.taskDto.date | date}}
              </time>
              <time *ngIf="event.taskDto.duration" class="event-task-date-item">
                <mat-icon>schedule</mat-icon>{{event.taskDto.duration}}
              </time>
              <aside *ngIf="event.taskDto.complete" class="event-task-date-item">
                <mat-icon>done</mat-icon>
              </aside>
            </section>
          </div>

          <mat-action-row>
            <button mat-button color="primary" (click)="restoreEdit(event.taskDto, event.originalDto)">Restore</button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

  </ng-container>

</main>