<section [ngClass]="{'day': true, 'current-day': isToday}">

  <header class="date-header">
    <h2>{{dayName}}</h2>
    <h3>{{daySubtitle}}</h3>
  </header>

  <mat-spinner *ngIf="loading | async; else tasksList"></mat-spinner>

  <ng-template #tasksList>
    <div class="tasks" sortablejs [sortablejsOptions]="options">

      <mat-card *ngFor="let task of tasks" class="mat-elevation-z2 task-card" matRipple
        (click)="openEditTakDialog(task)">
        <span>{{task.title}}</span>
      </mat-card>

      <mat-form-field appearance="outline" class="add-task">
        <!-- <mat-label>Add Task</mat-label> -->
        <input type="text" autocomplete="off" placeholder="Add Task" matInput [formControl]="newTaskControl" #newTask
          (keyup.enter)="addTask(newTask.value)">
      </mat-form-field>
    </div>
  </ng-template>

</section>