<section class="day">

  <header class="date-header" [ngClass]="{'current-day': isToday}">
    <h2>{{dayName}}</h2>
    <h3>{{daySubtitle}}</h3>
    <div class="tasks-actions">
      <button mat-stroked-button (click)="promptAddTask()">Add Task</button>
      <button mat-icon-button [matMenuTriggerFor]="dateMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dateMenu="matMenu">
        <button mat-menu-item (click)="postponeIncompleteTasks()">
          <mat-icon>navigate_next</mat-icon>Postpone Incomplete
        </button>
        <button mat-menu-item (click)="anticipateIncompleteTasks()">
          <mat-icon>navigate_before</mat-icon>Anticipate Incomplete
        </button>
      </mat-menu>
    </div>
  </header>

  <ng-container *ngIf="loadingState$ | async as loadingState">
    <ng-container [ngSwitch]="loadingState">

      <div class="loading-error" color="warn" *ngSwitchCase="tasksLoadingState.Error">
        <mat-icon>error</mat-icon><span>Error while loading tasks</span>
      </div>

      <mat-spinner *ngSwitchCase="tasksLoadingState.Loading"></mat-spinner>

      <ng-container *ngSwitchCase="tasksLoadingState.Loaded">

        <div class="add-task-card" [ngClass]="{'editing': addingTask$ | async}">
          <mat-card>
            <div class="add-task-notice">
              <mat-icon matTooltip="You can tag tasks by entering new or existing hashtags">
                info</mat-icon>
              <mat-icon *ngIf="newTaskControl.errors?.titleLength" color="warn" matTooltip="{{titleErrorMessage}}">error
              </mat-icon>
              <mat-icon *ngIf="newTaskControl.errors?.tagLength" color="warn" matTooltip="{{tagsErrorMessage}}">error
              </mat-icon>
            </div>
            <mat-form-field class="add-task-field">
              <mat-label></mat-label>
              <input type="text" #addTaskInput autocomplete="off" matInput [formControl]="newTaskControl"
                (keyup.enter)="confirmPromptTask()" (blur)="cancelPromptAddTask()" (keyup.esc)="cancelPromptAddTask()">
            </mat-form-field>
          </mat-card>
        </div>

        <div id="{{dayUrl}}" class="tasks" sortablejs [sortablejsOptions]="options">
          <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
        </div>

        <mat-expansion-panel class="habits-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Habits</span>
              <span class="habits-success-percentage"
                [style.color]="colourise(habitsPercentage)">{{habitsPercentage | percent}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="habits-list">
            <!-- <li class="habit" *ngFor="let habit of (habitsDetails$ | async)" [ngStyle]="{'color': habit.colour}"> -->
            <li class="habit" *ngFor="let habit of (habitsDetails$ | async)">
              <mat-checkbox [checked]="habit.entry !== undefined" (change)="toggleHabit(habit.id, habit.entry)"
                color="primary">
                <span>{{habit.title}}</span></mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>

      </ng-container>

    </ng-container>
  </ng-container>

</section>