<section [ngClass]="{'day': true, 'current-day': isToday}">

  <header class="date-header">
    <h2>{{dayName}}</h2>
    <h3>{{daySubtitle}}</h3>
  </header>
  <div class="tasks" sortablejs [sortablejsOptions]="options">

    <mat-card *ngFor="let task of tasks" class="mat-elevation-z2 task-card" matRipple (click)="openEditTakDialog(task)">
      <span>{{task.title}}</span>
      <!-- <span [matMenuTriggerFor]="appMenu">{{task.title}}</span> -->
      <!-- <mat-menu #appMenu="matMenu" yPosition="below">
        <button mat-menu-item>
          <mat-icon>done</mat-icon>
          <span>Mark as Done</span>
        </button>
        <button mat-menu-item (click)="openEditTakDialog(task)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteTask(task)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu> -->
    </mat-card>

    <mat-form-field appearance="outline" class="add-task">
      <!-- <mat-label>Add Task</mat-label> -->
      <input type="text" autocomplete="off" placeholder="Add Task" matInput [formControl]="newTaskControl" #newTask
        (keyup.enter)="addTask(newTask.value)">
    </mat-form-field>
  </div>

</section>