main {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

mat-accordion {
  width: 100%;
}

.no-results {
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
}

// must be used in combination with "collapsedHeight="*" expandedHeight="*""
mat-expansion-panel-header {
  height: auto !important;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.event-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.event-header-time {
  font-style: italic;
  font-size: small;
  opacity: 0.6;
  text-transform: lowercase;
}

.event-header-title {
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
}

.event-details {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.event-task-date {
  display: flex;
  justify-content: space-evenly;
}

.event-task-date-item {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 0.5rem;
  }
}

.original-details {
  opacity: 0.8;
}

.line-through {
  text-decoration: line-through;

  mat-icon {
    text-decoration: none;
  }
}

.edited-details {
  margin-top: 1rem;
}
