<mat-toolbar color="primary" class="mat-elevation-z6">

  <section class="header">
    <h2>Kairos</h2>
  </section>

  <section class="navigation">

    <button mat-icon-button aria-label="Previous Dates" matTooltip="Previous Dates" matTooltipPosition="left"
      (click)="showPrevious()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-icon-button aria-label="Current Dates" matTooltip="Today" matTooltipPosition="above"
      (click)="showToday()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button aria-label="Next Dates" matTooltip="Next Dates" matTooltipPosition="right"
      (click)="showNext()">
      <mat-icon>arrow_forward</mat-icon>
    </button>

  </section>

  <section class="user">
    <ng-container *ngIf="(user$ | async) as user">
      <span class="user-name">{{user.name}}</span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="handleSignout()">Logout</button>
      </mat-menu>
    </ng-container>
  </section>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidebar mode="side" position="end" class="sidebar mat-elevation-z4">

    <ng-container [ngSwitch]="(sidebarState$ | async)?.section">
      <app-unscheduled-sidebar class="sidebar-section" *ngSwitchCase="sidebarSection.Unscheduled">
      </app-unscheduled-sidebar>
      <app-events-sidebar class="sidebar-section" *ngSwitchCase="sidebarSection.Events"></app-events-sidebar>
      <app-habits-sidebar class="sidebar-section" *ngSwitchCase="sidebarSection.Habits"></app-habits-sidebar>
      <app-tags-sidebar class="sidebar-section" *ngSwitchCase="sidebarSection.Tags"></app-tags-sidebar>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">

      <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
      <ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>

      <main class="visible-days">
        <app-schedule-column *ngFor="let date of (visibleDates$ | async); let last = last" [date]="date"
          [ngClass]="{'last-day': last, 'day': true}"></app-schedule-column>

        <section class="sidebar-controls mat-elevation-z4">
          <button mat-icon-button (click)="toggleSidebarSection(sidebarSection.Unscheduled)">
            <mat-icon>assignment_return</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleSidebarSection(sidebarSection.Events)">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleSidebarSection(sidebarSection.Habits)">
            <mat-icon>toggle_on</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleSidebarSection(sidebarSection.Tags)">
            <mat-icon>label</mat-icon>
          </button>
        </section>
      </main>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>