main {
  display: flex;
  flex-direction: column;
}

// Toolbar
mat-toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar-close-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; // avoids the button being overlapped by the title input
  height: auto; // toolbar-row has a default height of 64px, overwritten
}

// Form

.form-contents {
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form-section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.title-section {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.section-icon {
  margin-right: 2rem;
}

.title-input {
  font-size: large;
  min-width: 36ch;
}

.date {
  text-indent: 20px;
  font-style: italic;
  font-size: small;
  opacity: 0.8;
}

em {
  text-decoration: underline;
}

.details-input {
  min-width: 30ch;
  font-size: medium;
}

.complete-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.duration-input {
  width: 6rem;
}

.date-input {
  width: 8rem;
}

.timer-button {
  display: flex;
  min-width: 5rem;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  mat-icon {
    margin-right: 5px;
  }
}

.timer-stop-button {
  animation: shadow-pulse 2s infinite;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(59, 151, 162, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(59, 151, 162, 0);
  }
}

/* Tags */

.tags-field {
  width: 100%;
}

// turn off the number spinners
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dialog Actions */

.dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.primary-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 1rem;
  }
}

.save-controls {
  width: 6rem;
  display: flex;
  justify-content: center;
}

.secondary-actions {
  display: flex;
  justify-content: flex-start;
}
