<form [formGroup]="taskForm">
  <main>
    <mat-toolbar>
      <mat-toolbar-row class="toolbar-close-row">
        <button class="close-button" mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="title-section">
        <mat-form-field class="title-input">
          <mat-label>Title</mat-label>
          <input type="text" formControlName="title" matInput autocomplete="off" maxlength="50" cdkFocusInitial>
          <mat-error>Must be shorter than 50 characters and longer than 5</mat-error>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>

    <main class="form-contents">

      <section class="form-section">
        <mat-icon class="section-icon">description</mat-icon>
        <mat-form-field class="details-input">
          <mat-label>Details</mat-label>
          <textarea formControlName="details" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </section>

      <section class="form-section">
        <mat-icon class="section-icon">assignment_turned_in</mat-icon>
        <mat-checkbox color="primary" formControlName="complete">Complete</mat-checkbox>
      </section>

      <section class="form-section">
        <mat-icon class="section-icon">event</mat-icon>
        <mat-form-field class="date-input">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="taskDate" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="taskDate"></mat-datepicker-toggle>
          <mat-datepicker #taskDate></mat-datepicker>
          <mat-error>Must be a valid date</mat-error>
        </mat-form-field>
      </section>

      <section class="form-section">
        <mat-icon class="section-icon">schedule</mat-icon>
        <div class="complete-controls">
          <mat-form-field class="duration-input">
            <mat-label>Duration</mat-label>
            <input type="number" matInput formControlName="duration" autocomplete="off">
            <span matSuffix>min.</span>
            <mat-error>Must be positive and shorter than 24 hours</mat-error>
          </mat-form-field>
          <button *ngIf="(taskTimerMinutes$ | async) !== undefined; else startTimerButton" class="timer-stop-button"
            mat-stroked-button color="accent" (click)="endTimer()">
            <mat-icon class="timer-hourglass">watch</mat-icon><span>{{taskTimerMinutes$ | async}} min.</span>
          </button>
          <ng-template #startTimerButton>
            <button class="timer-button" mat-stroked-button color="accent" [disabled]="disabledTimer$ | async"
              (click)="startTimer()">
              <mat-icon>watch</mat-icon>
              <span>Add Time</span>
            </button>
          </ng-template>
        </div>
      </section>

      <section class="form-section">
        <mat-icon class="section-icon">label</mat-icon>
        <mat-form-field class="tags-field">
          <mat-chip-list #chipList aria-label="Tags selection">
            <mat-chip *ngFor="let tag of (editedTags$ | async)" [selectable]="false" [removable]="true"
              (removed)="removeTag(tag)">
              {{tag}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #tagsInput placeholder="New tag ..." [formControl]="tagsControl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="tagSeparators"
              (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
            <mat-option *ngFor="let tag of autoCompletableTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </section>
    </main>

    <mat-toolbar class="dialog-actions">
      <section class="secondary-actions">
        <button type="button" mat-icon-button tabindex="-1" color="warn" (click)="deleteTask()">
          <mat-icon>delete</mat-icon>
        </button>
      </section>
      <section class="primary-actions">
        <button type="reset" mat-button [disabled]="!(canSave$ | async)" (click)="resetChanges()">
          <span>Reset</span>
        </button>
        <div class="save-controls">
          <mat-spinner [diameter]="30" *ngIf="(taskUpdating$ | async); else saveButton">
          </mat-spinner>
          <ng-template #saveButton>
            <button type="submit" mat-raised-button [disabled]="!(canSave$ | async) || taskForm.invalid" color="primary"
              (click)="saveTask()">Save</button>
          </ng-template>
        </div>
      </section>
    </mat-toolbar>
  </main>
</form>