main {
  display: flex;
  flex-direction: column;
}

// Toolbar
mat-toolbar {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  height: auto; // toolbar-row has a default height of 64px, overwritten
}

// Form

.form-contents {
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title-section {
  display: flex;
  align-items: center;
}

.form-section {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 2rem;
  }
}

.title-section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.title-input {
  font-size: large;
  min-width: 40ch;
}

.date {
  text-indent: 20px;
  font-style: italic;
  font-size: small;
  opacity: 0.8;
}

em {
  text-decoration: underline;
}

.details-input {
  min-width: 40ch;
  font-size: medium;
}

.complete-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.duration-input {
  width: 8rem;
}

.date-input {
  width: 8rem;
}

// turn off the number spinners
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
