<main>
  <mat-toolbar>
    <section class="status">
      <mat-spinner *ngIf="taskUpdating$ | async" [diameter]="20"></mat-spinner>
      <span class="status-notice">{{changeNotice$ | async}}</span>
    </section>
    <section class="actions">
      <button mat-icon-button [disabled]="!(canRevert$ | async)" (click)="revertChanges()">
        <mat-icon>restore</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </section>
  </mat-toolbar>

  <form [formGroup]="taskForm">

    <main>
      <section class="title-section">
        <mat-icon>title</mat-icon>
        <mat-form-field class="title-input">
          <input type="text" formControlName="title" matInput autocomplete="off" (keyup.enter)="$event.target.blur()"
            maxlength="50">
        </mat-form-field>
      </section>

      <section class="details-section">
        <mat-icon>notes</mat-icon>
        <mat-form-field class="details-input" appearance="outline">
          <mat-label>Details</mat-label>
          <textarea formControlName="details" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2" autocomplete="off"></textarea>
        </mat-form-field>
      </section>

      <div class="complete-controls">
        <mat-checkbox color="primary" formControlName="complete">Complete</mat-checkbox>
        <mat-form-field class="duration-input">
          <mat-label>Duration</mat-label>
          <input type="number" matInput formControlName="duration" autocomplete="off"
            (keyup.enter)="$event.target.blur()">
          <span matSuffix>min.</span>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="taskDate" formControlName="date">
        <mat-datepicker-toggle matPrefix [for]="taskDate"></mat-datepicker-toggle>
        <mat-datepicker #taskDate></mat-datepicker>
      </mat-form-field>
    </main>

  </form>

  <mat-toolbar>
    <section class="actions">
      <button mat-icon-button color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </section>
  </mat-toolbar>
</main>