<main>
  <mat-toolbar>
    <section class="status">
      <mat-spinner *ngIf="taskUpdating$ | async" [diameter]="20"></mat-spinner>
      <span class="status-notice">{{changeNotice$ | async}}</span>
    </section>
    <section class="actions">
      <button mat-icon-button [disabled]="!(canRevert$ | async)" (click)="revertChanges()">
        <mat-icon>restore</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </section>
  </mat-toolbar>

  <form [formGroup]="taskForm">

    <main>
      <mat-form-field class="title-input">
        <input type="text" formControlName="title" matInput autocomplete="off">
      </mat-form-field>

      <mat-form-field class="details-input" appearance="outline">
        <mat-label>Details</mat-label>
        <textarea formControlName="details" matInput autocomplete="off"></textarea>
      </mat-form-field>

      <mat-checkbox>Completed</mat-checkbox>
    </main>

  </form>

  <mat-toolbar>
    <section class="actions">
      <button mat-icon-button color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </section>
  </mat-toolbar>
</main>