main {
  display: flex;
  flex-direction: column;
}

// Toolbar
.status {
  display: flex;
  flex: 1 1 70%;
}

.status-notice {
  font-size: small;
  font-style: italic;
  opacity: 80%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 30%;
}

// Form

form {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.title-section,
.details-section {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 1rem;
  }
}

.title-input {
  min-width: 20rem;
  font-size: larger;
}

.date {
  text-indent: 20px;
  font-style: italic;
  font-size: small;
  opacity: 0.8;
}

em {
  text-decoration: underline;
}

.details-input {
  min-width: 20rem;
  font-size: medium;
}

.complete-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.duration-input {
  width: 6rem;
}

// turn off the number spinners
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
