<main>
  <mat-toolbar>
    <section class="status">
      <span></span>
    </section>
    <section class="actions">
      <button mat-icon-button [disabled]="!hasChanged">
        <mat-icon>restore</mat-icon>
      </button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Task Actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="warn">
          <mat-icon>delete</mat-icon>
          <span>Delete Task</span>
        </button>
      </mat-menu> -->
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </section>
  </mat-toolbar>

  <form [formGroup]="taskForm">

    <main>
      <mat-form-field class="title-input">
        <input type="text" formControlName="title" matInput>
      </mat-form-field>

      <mat-form-field class="details-input" appearance="outline">
        <mat-label>Details</mat-label>
        <textarea formControlName="details" matInput></textarea>
      </mat-form-field>

      <mat-checkbox>Completed</mat-checkbox>
    </main>

  </form>

  <mat-toolbar>
    <section class="actions">
      <button mat-icon-button color="warn" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
      </button>
    </section>
  </mat-toolbar>
</main>