<main>
  <form [formGroup]="habitGroup">
    <mat-toolbar>
      <mat-toolbar-row class="dialog-actions">
        <button class="close-button" mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="title">
        <mat-form-field class="title-input">
          <input type="text" formControlName="title" matInput autocomplete="off" maxlength="30" cdkFocusInitial>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="habit-details">

      <section class="description">
        <mat-icon>notes</mat-icon>
        <mat-form-field class="description-input">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" autocomplete="off"></textarea>
        </mat-form-field>
      </section>

      <section class="colour">
        <mat-icon>palette</mat-icon>
        <mat-form-field class="colour-input">
          <input type="text" formControlName="colour" matInput autocomplete="off" maxlength="20">
        </mat-form-field>
      </section>

    </div>

  </form>

  <section class="controls">
    <button class="delete" mat-button color="warn" (click)="deleteHabit()">Delete</button>
    <button *ngIf="!(editingHabit$ | async); else editingHabit" mat-raised-button color="primary" (click)="editHabit()"
      [disabled]="!(saveable$ | async)">Save</button>
    <ng-template #editingHabit>
      <mat-spinner [diameter]="20"></mat-spinner>
    </ng-template>
  </section>
</main>