<form [formGroup]="tagForm">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-close-row">
      <button class="close-button" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="name-section">
      <mat-form-field class="name-input">
        <mat-label>Tag Title</mat-label>
        <input type="text" formControlName="title" matInput autocomplete="off" cdkFocusInitial spellcheck="false">
        <mat-error>Must be lowercase alphabetical characters</mat-error>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="form-contents">

    <section class="form-section">
      <mat-icon class="section-icon">description</mat-icon>
      <mat-form-field class="description-input">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1" autocomplete="off"></textarea>
      </mat-form-field>
    </section>

    <section class="form-section">
      <mat-icon class="section-icon">palette</mat-icon>
      <div class="colours-controls">
        <section class="colours-grid">
          <ng-container *ngIf="selectedColour$ | async as selectedColour">
            <!-- conditional display to avoid duplicated colour appearing when adding new tag -->
            <div *ngIf="tag" class="colour-selector" matRipple [style.backgroundColor]="initialColour"
              [class.colour-selected]="initialColour === selectedColour" (click)="selectColour(initialColour)">
            </div>
            <div class="colour-selector" matRipple *ngFor="let colour of (tagColoursList$ | async)"
              [style.backgroundColor]="colour" [class.colour-selected]="selectedColour === colour"
              (click)="selectColour(colour)">
            </div>
          </ng-container>
        </section>
      </div>
    </section>
  </main>

  <mat-toolbar class="dialog-actions">
    <section class="secondary-actions">
      <button *ngIf="tag" type="button" mat-icon-button tabinder="-1" color="warn" (click)="deleteTag()">
        <mat-icon>delete</mat-icon>
      </button>
    </section>
    <section class="primary-actions">
      <button type="reset" mat-button [disabled]="unchanged$ | async" (click)="resetChanges()">
        <span>Reset</span>
      </button>
      <div class="save-controls">
        <mat-spinner [diameter]="30" *ngIf="(tagUpdating$ | async); else saveButton">
        </mat-spinner>
        <ng-template #saveButton>
          <button type="submit" mat-raised-button [disabled]="(unchanged$ | async) || tagForm.invalid" color="primary"
            (click)="saveTag()">Save</button>
        </ng-template>
      </div>
    </section>
  </mat-toolbar>
</form>