html,
body {
  height: 100%;
  margin: 0;
}

// required global styling for the inject material dialogs
.kairos-edit-task-dialog .mat-dialog-container {
  padding: 0;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-raised-button,
.mat-flat-button {
  text-transform: uppercase;
}
